{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon Application{% endblock %}

{% block body %}
    <h1>Bienvenue sur Mon Application</h1>
    <p>Ceci est la page d'accueil.</p>
{% endblock %}