{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}GymFlow{% endblock %}

{% block body %}
    <h1>Votre succès commence ici. Bienvenue sur GymFlow !</h1>
    <p>Ceci est la page d'accueil.</p>
{% endblock %}