{% extends 'base.html.twig' %}

{% block title %}Liste des Créneaux{% endblock %}

{% block body %}
    <h1>Liste des Créneaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Actions</th> <!-- Supprimer la colonne "Abonné" -->
            </tr>
        </thead>
        <tbody>
        {% for creneau in creneaux %}
            <tr>
                <td>{{ creneau.dateDebut ? creneau.dateDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ creneau.dateFin ? creneau.dateFin|date('d/m/Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('creneau_edit', {'id': creneau.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun créneau trouvé</td> <!-- Mettre à jour colspan à 3 -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('creneau_new') }}" class="btn btn-success">Créer un nouveau créneau</a>
{% endblock %}