{# templates/abonne/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel abonné{% endblock %}

{% block body %}
    <h1>Créer un nouvel abonné</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }} {# Affiche tous les champs du formulaire #}
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('abonne_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}